{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'post/css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<header>
    <div class="header">
        <!-- меню -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Главная</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/accounts/logout/">{{ user.nickname }} | {{ user.email }} | Выйти</a>
                  </li>
                  {% else %}
                      <a class="nav-link" href="/accounts/login/">Войти</a>
                  {% endif %}

                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- /меню -->
        <div class="carousel">
          <!-- <img src="{% static 'post/img/1234.jpg' %}" class="img-fluid" alt="..."> -->
            <img src="{% static 'post/img/1234.jpg' %}" alt="..." >
           
        </div> 
    </div>
</header>

<main>
<div class="main">
  <div class="category">
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action"><center>КАТЕГОРИИ</center></a>
        <!-- <a href="/" class="list-group-item list-group-item-action"><b>Главная</b><img src="{% static 'post/img/free-icon-home-747846.png' %}" alt="..." width="25" height="25"></a> -->
        <a href="/" class="list-group-item list-group-item-action list-group-item-primary"><b>Новеллы</b>: Короткие повествования, захватывающие сюжеты, увлекательные сюрпризы.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-secondary"><b>Очерки</b>: Легкие, наблюдательные рассказы, описывающие жизнь, обыденные события.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-success"><b>Повести</b>: Заполненные действием и сюжетом истории с обширными персонажами.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-danger"><b>Пьесы</b>: Театральные произведения, описывающие диалоги и драматические события.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-warning"><b>Поэзия</b>: Изысканные стихотворения, передающие эмоции и образы с помощью слов.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-info"><b>Поэмы</b>: Длинные стихотворные произведения, часто описывающие героические подвиги.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-light"><b>Рассказы</b>: Короткие, компактные повествования, захватывающие читателя с первых строк.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-dark"><b>Романы</b>: Обширные произведения, развивающие сюжет и характеры на протяжении книги.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-primary"><b>Сказки</b>: Фантазийные истории, часто содержащие моральные уроки и волшебные элементы.</a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-danger"><b>Статьи</b>: Научные или информационные тексты, предоставляющие факты или анализ. </a>
        <a href="/" class="list-group-item list-group-item-action list-group-item-success"><b>Эпопеи</b>: Масштабные эпические поэмы, описывающие героические деяния и приключения.</a>
      </div>  
    </div>  
    {% block content %}
    {% endblock content %}
</div>
</main>

<footer>
<div class="footer">
  <hr>
    <p>footer</p>
  <hr>
</div>
</footer>
   

</body>
</html>